.btn {
    height: 4rem;
    width: 20rem;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30rem;
    transition: all .3s;

    &-text {
      font-size: 1.6rem;
      font-family: "Nanum Gothic Coding", monospace;
      text-transform: uppercase;
    }

    &:hover {
        background-color: darken($primary-color, 10%);
        transform: scale(1.1);
    }
  }