.form {
  display: flex;
  width: 50%;
  flex-direction: column;
  font-size: 4rem;
  color: white;
  text-transform: uppercase;

  &_input {
    width: 100%;
    font-family: "Nanum Gothic Coding", monospace;
    font-size: 2rem;
    padding: 1.5rem;
  }

  &_textarea {
    width: 100%;
    font-family: "Nanum Gothic Coding", monospace;
    font-size: 2rem;
    padding: 1.5rem;
    &-label {
      font-family: inherit;
    }
  }

  button {
    height: 4rem;
    width: 20rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30rem;
    transition: all 0.3s;
    align-self: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-family: "Nanum Gothic Coding", monospace;
    color: $primary-color;
    border: none;
    font-weight: 600;

    &:hover {
      background-color: $secondary-color;
      transform: scale(1.1);
    }
  }
}
