.form {
  display: flex;
  width: 50%;
  flex-direction: column;
  font-size: 4rem;
  color: $primary-color;
  text-transform: uppercase;
  font-family: $font-heading;

  @media (max-width: 1100px) {
         font-size: 3rem;
      }

  &_input {
    width: 100%;
    font-family: $font-paragraph;
    font-size: 2rem;
    padding: 1.5rem;

    @media (max-width: 1100px) {
      padding: 1rem;
    }
  }

  &_textarea {
    width: 100%;
    font-family: $font-paragraph;
    font-size: 2rem;
    padding: 1.5rem;
    &-label {
      font-family: inherit;
    }

    @media (max-width: 1100px) {
      padding: 1rem;
    }
  }

  button {
    height: 4rem;
    width: 20rem;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30rem;
    transition: all 0.3s;
    align-self: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-family: $font-paragraph;
    color: white;
    border: none;
    font-weight: 600;

    &:hover {
      background-color: lighten($primary-color, 10);
      transform: scale(1.1);
    }
  }
}
