.nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-family: "Nanum Gothic Coding";
    padding-top: 2rem;
    padding-right: 14rem;
    transition: all 0.2s;
  
    &-list {
      list-style: none;
      display: flex;
  
      &-item {
        padding: 1rem 2rem;
        text-transform: uppercase;
        font-size: 4rem;
      }
  
      &-link {
        text-decoration: none;
  
        &:hover {
          color: lighten($primary-color, 20%);
          transform: scale(1.5);
          text-decoration: dashed;
        }
      }
    }
  }
  