.main-navigation {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 1000;

  &_tab {
    height: 100vh;
    width: 10rem;
    overflow: hidden;
    transition: all 0.4s ease;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    span {
      writing-mode: vertical-rl;
      color: white;
      font-size: 6rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      transition: all 0.3s ease;
    }

    &.open {
      position: fixed;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      transition: all 0.4s ease;

      span {
        display: none;
      }

      &.closing {
        width: 10rem;
        height: 100vh;
        transition: all 0.4s ease;
      }
    }
  }

  .nav-about {
    background-color: $secondary-color;
  }
  .nav-portfolio {
    background-color: $primary-color;
  }
  .nav-contact {
    background-color: rgb(77, 108, 152);
  }
}

.main-navigation_content {
  position: absolute;
  inset: 0;
  color: white;
  overflow: auto;
  font-size: 1.5rem;
  z-index: 1;
  margin-right: 10rem;
}

.logo {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1100;
  font-size: 2rem;
  font-weight: bold;
  color: $primary-color;
  width: 50px;
  height: auto;

  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: scale .2s;

    &:hover {
      scale: 1.1;
    }
  }
}
