.about {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding-top: 5rem;

  &_image {
    width: 40%;
    padding-left: 20rem;
    position: relative;
    z-index: 1;
  }

  img {
    height: 100%;
  }

  &_text {
    width: 60%;
    position: relative;
    z-index: 1;
    margin-top: 15rem;
  }

  &-heading {
    font-size: 26rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
  }

  &_description {
    padding-right: 32rem;
    padding-top: 2rem;
    font-size: 3rem;
    color: $primary-color;
    padding-bottom: 4rem;
    text-align: justify;
  }

  &_link {
    &-heading {
      text-decoration: none;
    }

    &-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
       padding-right: 32rem;
    }

    &-button {
      color: white;
      height: 4rem;
      width: 20rem;
      background-color: $primary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30rem;
      font-size: 2rem;
      font-family: "Nanum Gothic Coding", monospace;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.3s;

      &:hover {
        background-color: darken($primary-color, 10%);
        transform: scale(1.1);
      }
    }
  }
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(
    to bottom,
    $secondary-color 0%,
    $secondary-color 60%,
    white 60%,
    white 100%
  );
}
