.about {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding-top: 5rem;
  
    &-image {
      width: 40%;
      padding-left: 20rem;
      position: relative;
      z-index: 1;
    }
  
    img {
      height: 100%;
    }
  
    &-text {
      width: 60%;
      position: relative;
      z-index: 1;
      padding-top: 26rem;
    }
  
    &-heading {
      font-size: 18rem;
      color: white;
      text-transform: uppercase;
      letter-spacing: 1rem;
    }
  
    &-description {
      padding-right: 20rem;
      padding-top: 2rem;
      font-size: 2rem;
      color: $primary-color;
      padding-bottom: 4rem;
    }
  
    &-link {
      text-decoration: none;
      color: white;
      text-align: center;
    }
  
    &-btn {
      height: 4rem;
      width: 20rem;
      background-color: $primary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30rem;
      transition: all .3s;
  
      &-text {
        font-size: 1.6rem;
        font-family: "Nanum Gothic Coding", monospace;
        text-transform: uppercase;
      }
  
      &:hover {
          background-color: darken($primary-color, 10%);
          transform: scale(1.1);
      }
    }
  }
  
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(
      to bottom,
      $secondary-color 0%,
      $secondary-color 70%,
      white 70%,
      white 100%
    );
  }
  