.footer {
    width: 100%;
    height: 20vh;
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
  
    &-text {
      display: flex;
      font-family: "Nerko One", cursive;
      color: white;
      text-transform: uppercase;
      font-size: 5rem;
      padding: 0 5rem;
  
      &-embroidery {
        display: flex;
        font-family: "Nerko One", cursive;
        color: white;
        text-transform: uppercase;
        font-size: 5rem;
        padding: 0 5rem;
        letter-spacing: 0.3rem;
      }
    }
  
    &-social-media {
      padding: 0 5rem;
      &-list {
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: center;
      }
  
      &-link {
        color: white;
        font-size: 4rem;
        padding: 1rem;
      }
  
      i {
        color: white;
        font-size: 4rem;
        padding: 1rem;
      }
    }
  
    &-contactinfo {
      padding: 0 5rem;
      font-family: "Nanum Gothic Coding", monospace;
      color: white;
      font-size: 2rem;
      padding: 1rem;
      text-align: right;
      line-height: 1rem;
    }
  }
  