.header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-image: linear-gradient(rgb(247, 245, 226, 0.3), rgb(52, 77, 103, 0.3)),
    url(/gingercatBG.png);
  background-position: center;
  background-size: cover;
  font-family: $font-heading;
  text-transform: uppercase;
  font-size: 10rem;
  color: white;
  text-shadow: 1px 2px 2px $primary-color;

  @media (max-width: 800px) {
    height: 80vh;
  }

  &_heading-1 {
    margin-left: 10rem;
    letter-spacing: 1.4rem;
    font-size: 15rem;


    @media (max-width: 1200px) {
      margin-left: 5rem;
      letter-spacing: 1.5rem;
      font-size: 12rem;
    }

    @media (max-width: 1000px) {
      letter-spacing: 1.1rem;
      font-size: 9rem;
    }

    @media (max-width: 800px) {
      letter-spacing: 1rem;
      font-size: 6rem;
      margin: 0 auto;
    }

    @media (max-width: 500px) {
      font-size: 4.5rem;
    }
  }

  &_heading-2 {
    font-family: $font-paragraph;
    margin-left: 10rem;
    font-size: 18rem;

    @media (max-width: 1200px) {
      margin-left: 5rem;
      font-size: 15rem;
    }
    @media (max-width: 1000px) {
      font-size: 11rem;
    }
    @media (max-width: 800px) {
      font-size: 8rem;
      margin: 0 auto;
    }

    @media (max-width: 500px) {
      font-size: 6.5rem;
    }
  }
}
