* {
  margin: 0;
  padding: 0;
  font-family: "Nerko One", cursive;
}

html {
  font-size: 62.5%;
}

a {
  font-family: "Nanum Gothic Coding", monospace;
  color: rgb(152, 77, 90);
}

p {
  font-family: "Nanum Gothic Coding", monospace;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
}

.header {
  background-image: url(../assets/Header.png);
  width: 100%;
  height: 100vh;
  margin-left: 10rem;
  background-size: cover;
  background-position: center;
  display: flex;
  margin-bottom: 10rem;
}

.about {
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding-top: 5rem;
}
.about-image {
  width: 40%;
  padding-left: 20rem;
  position: relative;
  z-index: 1;
}
.about img {
  height: 100%;
}
.about-text {
  width: 60%;
  position: relative;
  z-index: 1;
  padding-top: 26rem;
}
.about-heading {
  font-size: 18rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1rem;
}
.about-description {
  padding-right: 20rem;
  padding-top: 2rem;
  font-size: 2rem;
  color: rgb(152, 77, 90);
  padding-bottom: 4rem;
}
.about-link {
  text-decoration: none;
  color: white;
  text-align: center;
}
.about-btn {
  height: 4rem;
  width: 20rem;
  background-color: rgb(152, 77, 90);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30rem;
  transition: all 0.3s;
}
.about-btn-text {
  font-size: 1.6rem;
  font-family: "Nanum Gothic Coding", monospace;
  text-transform: uppercase;
}
.about-btn:hover {
  background-color: rgb(118.1484716157, 59.8515283843, 69.9563318777);
  transform: scale(1.1);
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(to bottom, rgb(216, 191, 195) 0%, rgb(216, 191, 195) 70%, white 70%, white 100%);
}

.portfolio {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(216, 191, 195, 0.4), #984d5a), url(/ThreadBG.png);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  margin-top: 10rem;
  justify-content: center;
  align-items: center;
}
.portfolio-text {
  display: flex;
  flex-direction: column;
}
.portfolio-heading {
  font-size: 30rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2rem;
}
.portfolio-link {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  text-align: end;
  padding-right: 5rem;
}
.portfolio-link:hover {
  color: rgb(118.1484716157, 59.8515283843, 69.9563318777);
}

.nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-family: "Nanum Gothic Coding";
  padding-top: 2rem;
  padding-right: 14rem;
  transition: all 0.2s;
}
.nav-list {
  list-style: none;
  display: flex;
}
.nav-list-item {
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 4rem;
}
.nav-list-link {
  text-decoration: none;
}
.nav-list-link:hover {
  color: rgb(194.8122270742, 136.1877729258, 146.3493449782);
  transform: scale(1.5);
  text-decoration: dashed;
}

/*# sourceMappingURL=styles.css.map */
